// styles for components buttons,modals,text,etc..
.form-heading-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.form-heading-cont__header {
  font-size: 2.4rem;
  color: $primary-marine-blue;
}

.form-heading-cont__subheader {
  width: 80%;
  color: $neutral-cool-gray;
  font-size: 1.5rem;
  line-height: 2.3rem;
}
