// styles for header/footer,etc...

// STEPS LIST
.steps-list-mobile {
  @include flexBox(row);
  list-style: none;
  gap: 1.5rem;
  margin-bottom: 3.8rem;

  @include desktop() {
    display: none;
  }
}

.steps-list-mobile__item {
  @include flexBox(row);
  height: 3.3rem;
  width: 3.3rem;
  border: 1px solid $neutral-white;
  border-radius: 50%;
  padding: 1rem;
  p {
    color: $neutral-white;
    font-size: 1.4rem;
    font-weight: weight("bold");
  }
}

.steps-list-mobile__item.active {
  border: 1px solid $primary-light-blue;
  background-color: $primary-light-blue;
  p {
    color: $primary-marine-blue;
  }
}

.steps-list-desktop__cont {
  display: none;
  background-image: url("../assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 3rem 3rem;
  width: 45%;
  border-radius: 1rem;
  height: 56.8rem;
  max-width: 27.4rem;

  @include desktop() {
    display: block;
  }

  .steps-list-desktop__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
  }
}

.steps-list-desktop__item {
  display: flex;
  gap: 1rem;

  #{&}-text-cont {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  #{&}-text-step {
    font-size: 1.2rem;
    color: $primary-light-blue;
  }

  #{&}-text-description {
    font-size: 1.4rem;
    color: $neutral-white;
    font-weight: weight("bold");
  }

  #{&}-number {
    @extend .steps-list-mobile__item;
  }
}

// FORM CONTAINER
.form-container {
  @include center();
  background-color: $neutral-white;
  padding: 3rem 2.2rem;
  border-radius: 1rem;
  box-shadow: 0rem 1rem 5rem rgba(0, 0, 0, 0.1);
  max-width: 54rem;

  @include desktop() {
    display: flex;
    gap: 7rem;
    max-width: 94rem;
    margin-top: 12rem;
  }
}

.forms-container {
  @include desktop() {
    width: 50%;
    display: grid;
    position: relative;
    padding: 2rem 0;
  }
}

.personal-info-form__cont {
  @include desktop() {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 1.2rem;

    .personal-info-form__label-cont {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
      justify-content: space-between;

      @include desktop() {
        margin-bottom: 0.5rem;

        label {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.personal-info-form__input {
  font-family: "Ubuntu", sans-serif;
  color: $primary-marine-blue;
  font-weight: weight("bold");
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  border: 1px solid $neutral-light-gray;
  border-radius: 4px;

  @include desktop() {
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    border-radius: 7px;

    &:hover {
      cursor: pointer;
      border: 1px solid $primary-purplish-blue;
    }
  }

  &::placeholder {
    font-weight: weight("medium");
    opacity: 1;
    color: $neutral-cool-gray;
  }

  &.error {
    border: 1px solid $primary-strawberry-red;
  }
}

.personal-info-form__error {
  color: $primary-strawberry-red;
  font-size: 1.2rem;
  font-weight: weight("bold");

  @include desktop() {
    font-size: 1.4rem;
  }
}

#personal-info-form-submit {
  display: none;
}

// PLAN FORM SECTION
.select-your-plan-form__cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;

  @include desktop() {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3.5rem;

    .option-component {
      width: 100%;
      max-width: 14rem;
      padding: 1.8rem 1.5rem;
    }
  }
}

.select-your-plan-form__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @include desktop() {
    align-items: baseline;
    flex-direction: column;
    gap: 2.5rem;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #{&}-title {
    font-size: 1.6rem;
    font-weight: weight("medium");
    color: $primary-marine-blue;
  }

  #{&}-description {
    font-size: 1.4rem;
    color: $neutral-cool-gray;
  }

  #{&}-free {
    display: none;
    font-size: 1.2rem;
    color: $primary-marine-blue;

    &.active {
      display: block;
    }
  }
}

#monthly-yearly-form {
  @include flexBox(row);
  padding: 1.5rem 0rem;
  border-radius: 4px;
  background-color: $neutral-magnolia;

  div {
    display: flex;
    gap: 2rem;

    p {
      color: $neutral-cool-gray;
      font-weight: weight("medium");
      font-size: 1.4rem;

      &.active {
        color: $primary-marine-blue;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.8rem;
  height: 2rem;

  &:focus-visible {
    @include outline();
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider-round {
      background-color: $primary-marine-blue;
    }

    &:checked + .slider-round:before {
      transform: translateX(1.6rem);
    }
  }

  .slider-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary-marine-blue;
    transition: 0.4s;
    border-radius: 3.4rem;

    &:before {
      position: absolute;
      content: "";
      height: 1.3rem;
      width: 1.3rem;
      left: 4px;
      bottom: 3.5px;
      background-color: $neutral-white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}

// ADD ONS FORM
.add-ons-form__cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include desktop() {
    gap: 2rem;

    .option-component {
      padding: 1.5rem 2rem;
    }
  }
}

.add-ons-form__item {
  display: grid;
  grid-template-columns: 0.05fr 0.99fr 0.05fr;
  column-gap: 1.5rem;
  align-items: center;
  justify-content: center;

  @include desktop() {
    column-gap: 2rem;
  }

  .checkbox-cont {
    width: 2rem;
    height: 2rem;
    position: relative;

    input[type="checkbox"] {
      width: auto;
      display: inline-block;
      visibility: hidden;

      &:checked + .mark {
        background-color: $primary-purplish-blue;
        border: 1px solid $primary-purplish-blue;

        &:after {
          display: block;
        }
      }
    }

    .mark {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 2rem;
      height: 2rem;
      border: 1px solid $neutral-light-gray;
      border-radius: 4px;

      &:after {
        content: "";
        position: absolute;
        display: none;

        left: 6px;
        bottom: 4px;
        width: 4px;
        height: 9px;
        border: solid $neutral-white;
        border-width: 0 2.5px 2.5px 0;
        transform: rotate(45deg);
      }
    }
  }
  #{&}-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  #{&}-title {
    font-size: 1.4rem;
    font-weight: weight("medium");
    color: $primary-marine-blue;

    @include desktop() {
      font-size: 1.6rem;
    }
  }

  #{&}-description {
    font-size: 1.2rem;
    color: $neutral-cool-gray;

    @include desktop() {
      font-size: 1.5rem;
    }
  }

  #{&}-price {
    color: $primary-purplish-blue;
    @include desktop() {
      font-size: 1.5rem;
    }
  }
}

// FINISH UP SECTION

.summary-section__cont-options {
  padding: 1.5rem;
  background-color: $neutral-magnolia;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.5rem;

  hr {
    width: 100%;
    border: none;
    background-color: $neutral-light-gray;
    height: 0.5px;
  }
}

.summary-section__cont-options-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 1.4rem;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .summary-section__primary-summary {
    color: $primary-marine-blue;
    font-weight: weight("bold");
  }
}

.summary-section__primary-text {
  color: $primary-marine-blue;
  font-weight: weight("bold");

  & + p {
    color: $neutral-cool-gray;
    text-decoration: underline;
    cursor: pointer;
  }
}

.summary-section__add-ons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary-section__add-ons-cont {
  display: none;
  justify-content: space-between;

  p {
    font-size: 1.4rem;
  }

  .summary-section__add-ons-text {
    color: $neutral-cool-gray;
  }

  .summary-section__add-ons-price {
    color: $primary-marine-blue;
  }
}

.summary-section__cont-summary {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;

  p {
    font-size: 1.4rem;
    color: $neutral-cool-gray;
  }

  span {
    font-size: 1.6rem;
    color: $primary-purplish-blue;
    font-weight: weight("bold");
  }
}

.summary-section__primary-change {
  &:focus-visible {
    @include outline();
  }
}
// THANK YOU SECTION
#thank-you-section {
  display: none;
  margin-top: 5rem;
  padding-bottom: 2rem;
  gap: 2.5rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  img {
    width: 5.6rem;
    height: 5.6rem;
  }

  h2 {
    font-size: 2.4rem;
    color: $primary-marine-blue;
    text-align: center;
  }
  p {
    font-size: 1.6rem;
    color: $neutral-cool-gray;
    text-align: center;
  }

  &.active {
    @include flexBox(column);
  }
}
// NAV
.nav-mobile {
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  background-color: $neutral-white;
  left: 0;
  bottom: 0;

  @include desktop() {
    padding: 0;
    position: static;
    align-self: flex-end;
  }

  .next-step-btn {
    background-color: $primary-marine-blue;
    &:hover {
      opacity: 0.9;
    }
    &.not-active {
      display: none;
    }
  }

  .confirm-btn {
    display: none;
    background-color: $primary-purplish-blue;
    &:hover {
      opacity: 0.9;
    }
    &.active {
      display: block;
    }
  }
  div {
    @include center();
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include desktop() {
      width: 100%;
    }

    p {
      font-weight: weight("medium");
      color: $neutral-cool-gray;
      font-size: 1.5rem;
      opacity: 0;
      pointer-events: none;
      cursor: pointer;

      @include desktop() {
        font-size: 1.6rem;

        &:hover {
          color: $primary-marine-blue;
        }
      }

      &.active {
        opacity: 1;
        pointer-events: all;
      }

      &:focus-visible {
        @include outline();
      }
    }
  }
}
