// styles for header/footer,etc...

// STEPS LIST
.steps-list-mobile {
  @include flexBox(row);
  list-style: none;
  gap: 1.5rem;
}

.steps-list-mobile__item {
  @include flexBox(row);
  height: 3.3rem;
  width: 3.3rem;
  border: 1px solid $neutral-white;
  border-radius: 50%;
  padding: 1rem;
  p {
    color: $neutral-white;
    font-size: 1.4rem;
    font-weight: weight("bold");
  }
}

.steps-list-mobile__item.active {
  border: 1px solid $primary-light-blue;
  background-color: $primary-light-blue;
  p {
    color: $primary-marine-blue;
  }
}
